<style type="text/css">
.input-error {
  color :red;
}
</style>
<% fields1 = ["name", "description"] %>
<% displayFields = ["Nome", "Descrição"] %>
<% iterator = @developer %>
<% title = "Dados do Desenvolvedor" %>

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %> </label>
                        <%= iterator[field] %>
                      </div>
                    <% end %>
                    <div class="form-group">
                          <label for="">Foto </label>
                      <%= link_to "Imagem", @developer.picture.url %>

                      </div>

                </div>
            </div>
        </div>


<script type="text/javascript">
      $(function() {
          $('#example3').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });

</script>

