<style type="text/css">
.input-error {
  color :red;
}
</style>


<% fields1 = ["nome", "email"] %>
<% required_fields = ["nome", "email"] %>
<% displayFields1 = ["Nome", "E-mail"] %>

<% iterator = @admin %>
<% title = "Dados do Administrador" %>

    <div class="row">

<%= form_for(iterator, :validate => true)  do |f| %>
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields1[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "#{displayFields1[i]}", :class => "form-control" %>
                      </div>
                    <% end %>


                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>
            </div>
      </div>  
     </div>  

<% end %>
</div>  

