<style type="text/css">
.input-error {
  color :red;
}
</style>
<% fields1 = ["name", "about"] %>
<% displayFields = ["Nome", "Sobre"] %>
<% iterator = @chef %>
<% title = "Dados do Chef" %>

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %> </label>
                        <%= iterator[field] %>
                      </div>
                    <% end %>

                    <div class="form-group ">
                      <label for="">Foto </label><br>
                      <%= link_to image_tag(@chef.picture.url, :class => "img-thumbnail img-rounded"), @chef.picture.url %>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Receitas</h3>
                </div>
                <div class="box-body">
                      <table id="example4" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Opções</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.recipes.each do |d| %>
                      <tr>
                          <td><%= d.name %></td>
                          <td> 
                      <div class='btn-group'>
                          <button type='button' class='btn btn-default'>Opções</button>
                          <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                            <span class='caret'></span>
                            <span class='sr-only'>Toggle Dropdown</span>
                          </button>
                          <ul class='dropdown-menu' role='menu'>
                              <li><a href='/recipes/<%= d.id %>'> <i class='fa fa-search'></i> Detalhes</a></li>
                              <li><a href='/recipes/<%= d.id %>/edit'> <i class='fa fa-pencil'></i> Editar</a></li>
                          </ul>
                      </div>
                  </td>

                        </tr>
                      <% end %>
                  </tbody>
                </table>
                </div>
            </div>
        </div>

    </div>  


<script type="text/javascript">
      $(function() {
          $('#example3').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });

</script>

