<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left info">
        <p> MackGourmet </p>
        <p><%= current_user.name %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
<!--     <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Encontre Algo..."/>
                <span class="input-group-btn">
                  <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
      </div>
    </form>
 -->    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links -->
    <li class="">
        <a href="/home">
            <i class="fa fa-dashboard"></i> <span>Painel de Controle</span>
        </a>
    </li>

    <% iterator = [] %>
    <% iterator_menu_paths = [] %>
    <% iterator_menu_icons = [] %>


    <% if current_user.isSuperAdmin? %>
      <% iterator = [ "Conceitos", "Chefes", "Restaurantes", "Receitas", "Estudantes", "Usuários do Aplicativo", "Desenvolvedores", "Administradores do Sistema", "Notificações"] %>
      <% iterator_menu_paths = ["concepts", "chefs","restaurants", "recipes", "students", "users", "developers", "super_admins", "notifications"] %>
      <% iterator_menu_icons = ["quote-right", "users", "cutlery", "file-text", "graduation-cap", "user-plus", "code", "gears", "bell"] %>
    <% elsif  current_user.isStudent? %>
      <% iterator = [ "Meu Conceito", "Chefes", "Restaurantes", "Minhas Receitas"] %>
      <% iterator_menu_paths = ["concepts", "chefs", "restaurants", "recipes"] %>
      <% iterator_menu_icons = ["quote-right", "users", "cutlery", "file-text"] %>
    <% end %>

    <% i = 0 %>
    <% iterator.each do |option| %>
      <% classe = request.fullpath.to_s.include?(iterator_menu_paths[i]) ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/<%= iterator_menu_paths[i] %>">
              <i class="fa fa-<%= iterator_menu_icons[i] %>"></i>
              <span><%= option %></span>
          </a>
        </li>
        <% i += 1 %>
    <% end %>

    <% classe = request.fullpath.to_s.include?("alterar_senha") ? "active" : "" %>
      <li class="<%= classe %>">
        <a href="/alterar_senha">
            <i class="fa fa-key"></i>
            <span>Alterar Senha</span>
        </a>
    </li>
    <li class="">
        <a href="/users/sign_out" data-method="delete" rel="nofollow">
            <i class="fa fa-power-off"></i>
            <span>Sair</span>
        </a>
    </li>

    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
