<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">MackGourmet<b>Admin</b></a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" onclick="parent.history.back();return false;">
      Voltar
    </a>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                  <a href="/meu_perfil" class="btn btn-default btn-flat">Meu Perfil</a>
              </div>
              <div class="pull-right">
                <a href="/users/sign_out" data-method="delete" rel="nofollow" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
