
<%= notice_helper %>
<% cols = ["Email", "Data"] %>

<div class="col-xs-12">
    <div class="box">
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <% cols.each do |col| %>
                          <th><%= col %></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                  <% @registros.all.each do |d| %>
                    <tr>
                        <td><%= d.email %></td>
                        <td><%= d.created_at.to_s %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>


  <!-- DATA TABES SCRIPT -->
<%= javascript_include_tag "jquery.datatable.js" %>
<%= javascript_include_tag "dataTable.js" %>

  <script type="text/javascript">
      $(function() {
          $('#example1').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true
          });
      });
  </script>
