<div class="row">
  <%= notice_helper %>
  <% cols = ["Nome", "Tipo", "Conceito","Usuário", "Opções"] %>
  <% path = "recipes" %>
  <% new_button_title = "Adicionar Receita" %>

  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
              <a href="/<%= path %>/new" class="btn btn-primary pull-right" style="color:white; margin:10px;"> <%= new_button_title %></a>
          </div>

          <div class="box-body table-responsive">
              <table id="pads" class="table table-bordered table-striped table-hover" data-source="<%= recipes_url(format: "json") %>">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                          <th><%= col %></th>
                        <% end %>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              <br><br>
          </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div><br>
</div>

  <script type="text/javascript">
      $(function() {
          $('#pads').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true,
              "bJQueryUI": true,
              "bProcessing": true,
              "bServerSide": true,
              "sAjaxSource": $('#pads').data('source')
          });
      });
  </script>