  <%= notice_helper %>

<p id="notice"><%= notice %></p>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    	<h3 class="box-title">Dados do Loja</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="">Id</label>
                        <%= @recipe.id %>
                    </div>
                    <div class="form-group">
                        <label for="">Data de Criação</label>
                        <%= @recipe.created_at.strftime("%d/%m/%Y %H:%M") %>
                    </div>

                    <div class="form-group">
                        <label for="">Nome</label>
                        <%= @recipe.name %>
                    </div>
 
                    <div class="form-group">
                        <label for="">Foto</label>
                        <%= link_to "Foto", @recipe.picture.url(:original) %>
                    </div>


                </div>
            </div>
        </div>
          <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Ingredientes</h3>
                </div>
                 <div class="box-body table-responsive">

	                    <table id="example3" class="table table-bordered table-striped">
	                <thead>
	                    <tr>
                        <th>Nome</th>
                        <th>Total</th>
                        <th>Unidade</th>
	                    </tr>
	                </thead>
	                <tbody>
	                  <% @recipe.ingredients.each do |d| %>
	                    <tr>
                          <td><%= d.name %></td>
                          <td><%= d.amount %>%</td>
                          <td><%= d.amount_unit %>%</td>
 	                      </tr>
	                    <% end %>
	                </tbody>
	            </table>
	        </div>

            </div>
        </div>

          <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Métodos</h3>
                </div>
                 <div class="box-body table-responsive">

	                    <table id="example2" class="table table-bordered table-striped">
	                <thead>
	                    <tr>
	                      <th>Nome</th>
	                      <th>Descrição</th>
	                    </tr>
	                </thead>
	                <tbody>
	                  <% @recipe.recipeMethods.each do |d| %>
	                    <tr>
	                        <td> <%= d.step %> </td>
	                        <td> <%= d.description %> </td>
	                      </tr>
	                    <% end %>
	                </tbody>
	            </table>
	        </div>

            </div>
        </div>
          <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Fotos</h3>
                </div>
                 <div class="box-body table-responsive">

                      <table id="example5" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>Url</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% @recipe.recipePhotos.each do |d| %>
                      <tr>
                          <td> <%= link_to "Ver Foto", d.picture.url(:original) %> </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
          </div>



    </div>

<%= javascript_include_tag "jquery.datatable.js" %>
<%= javascript_include_tag "dataTable.js" %>

<script type="text/javascript">
      $(function() {
          $('#example3').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example2').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example1').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example5').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example6').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });


</script>

