<style type="text/css">

.input-error {
    color :red;
}

</style>
  <%= notice_helper %>

<%= form_for(@user, :url => { :action => "alterarSenha" } ) do |f| %>
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Alterar Senha</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                    <div class="box-body">
                                        <p>
                    <span style="color:red">*</span> dados obrigatórios
                </p>

            <div class="form-group">
                            <label for="exampleInputFile">Senha Atual</label>
                            <p class="help-block">(Precisamos da sua senha atual para alterá-la.)</p>

                   <%= f.password_field :current_password, :placeholder => "Senha Atual", :class => "form-control" %>
                        </div>
            <div class="form-group">
                            <label for="exampleInputFile">Nova Senha</label>
                   <%= f.password_field :password, :placeholder => "Nova Senha", :class => "form-control" %>
                        </div>
            <div class="form-group">
                            <label for="exampleInputFile">Confirme a nova senha</label>
                   <%= f.password_field :password_confirmation, :placeholder => "Nova Senha", :class => "form-control" %>
                        </div>
                     <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>

                    </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div><!--/.col (left) -->
        <!-- right column -->
    </div>   <!-- /.row -->
<% end %>


