    <p id="notice"><%= notice %></p>
        <% @recipe = @user %>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                          <h3 class="box-title">Dados do Usuário</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">Id</label>
                            <%= @recipe.id %>
                        </div>
                        <div class="form-group">
                            <label for="">Data de Criação</label>
                            <%= @recipe.created_at.strftime("%d/%m/%Y %H:%M") %>
                        </div>

                        <div class="form-group">
                            <label for="">Nome</label>
                            <%= @recipe.name %>
                        </div>
                       
                        <div class="form-group">
                            <label for="">Facebook</label>
                            <%= @recipe.facebook %>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <%= @recipe.email %>
                        </div>
                        <div class="form-group">
                            <label for="">Foto</label>
                            <%= link_to "Foto", @recipe.picture.url(:original) %>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <%= javascript_include_tag "jquery.datatable.js" %>
    <%= javascript_include_tag "dataTable.js" %>

    <script type="text/javascript">
          $(function() {
              $('#example3').dataTable({
                  "bPaginate": true,
                  "bLengthChange": true,
                  "bFilter": true,
                  "bSort": true,
                  "bInfo": true,
                  "bSearch": true,
                  "bAutoWidth": true
              });
          });
          $(function() {
              $('#example2').dataTable({
                  "bPaginate": true,
                  "bLengthChange": true,
                  "bFilter": true,
                  "bSort": true,
                  "bInfo": true,
                  "bSearch": true,
                  "bAutoWidth": true
              });
          });
          $(function() {
              $('#example1').dataTable({
                  "bPaginate": true,
                  "bLengthChange": true,
                  "bFilter": true,
                  "bSort": true,
                  "bInfo": true,
                  "bSearch": true,
                  "bAutoWidth": true
              });
          });
          $(function() {
              $('#example4').dataTable({
                  "bPaginate": true,
                  "bLengthChange": true,
                  "bFilter": true,
                  "bSort": true,
                  "bInfo": true,
                  "bSearch": true,
                  "bAutoWidth": true
              });
          });

    </script>

