  <%= notice_helper %>

  <% if current_user.isSuperAdmin? %>
    
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12"    style="cursor:pointer;">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-user-plus"></i></span>
          <div class="info-box-content">
            <span class="info-box-text"><%= link_to "Usuários do Aplicativo", "users" %> </span>
            <span class="info-box-number"><%= User.where(:_type => "User").count.to_s %></span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12"    style="cursor:pointer;">
        <div class="info-box">
          <span class="info-box-icon bg-aqua-active"><i class="fa fa-graduation-cap"></i></span>
          <div class="info-box-content">
            <span class="info-box-text"><%= link_to "Estudantes", "students" %> </span>
            <span class="info-box-number"><%= User.where(:_type => "Student").count.to_s %></span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->
    </div>

  <% elsif current_user.isStudent? %>
    <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12"    style="cursor:pointer;">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><%= link_to "Minhas Receitas", "recipes" %> </span>
          <span class="info-box-number"><%= Recipe.where(:user => current_user.id).count.to_s %></span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div>

  <% end %>
