<style type="text/css">
.input-error {
  color :red;
}
</style>
<%= stylesheet_link_tag    "bootstrap3-wysihtml5.min" %>



<% fields1 = ["name", "email", "cnpj", "phone"] %>
<% required_fields = ["name"] %>
<% displayFields = ["Nome","Email", "CNPJ",  "Telefone" ] %>
<% iterator = @company %>
<% title = "Dados da Empresa" %>


<%= form_for(iterator, :validate => true)  do |f| %>
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "Digite o #{displayFields[i]}", :class => "form-control" %>
                      </div>
                    <% end %>

                    <% json = [] %>
                    <% Concept.asc(:name).each do |t| %>
                        <% json << [t.name,t.id] %>
                    <% end %>

                    <div class="form-group">
                        <label for="">Categoria<span style="color:red">*</span></label>
                        <% if iterator.concept.nil? %>
                            <%= f.select(:concept, options_for_select(json), {},{:class => "form-last-name form-control"})  %>
                        <% else %>
                            <%= f.select(:concept, options_for_select(json,iterator.concept.id), {},{:class => "form-last-name form-control"})  %>
                        <% end %>
                    </div>


                    <div class="form-group">
                        <label for="">Logo</label>
                       <%= f.file_field :logo %>
                  </div>

                    <div class="form-group">
                        <label for="">Descrição<span style="color:red">*</span></label>
                            <textarea class="textarea" placeholder="Digite o texto..." style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="company[description]" ><%= iterator.description.nil?  ? "" : iterator.description.html_safe %></textarea>

                    </div>
                    <div class="form-group">
                        <label for="">Chat Online?<span style="color:red"></span></label>
                        <label>
                            <% if iterator.chat %>
                          <input type="checkbox" name="company[chat]" checked>
                          <% else %>
                          <input type="checkbox" name="company[chat]">

                          <% end %>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">Chamadas?<span style="color:red"></span></label>
                        <label>
                            <% if iterator.call %>
                          <input type="checkbox" name="company[call]" checked>
                          <% else %>
                          <input type="checkbox" name="company[call]">

                          <% end %>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">Agendamento de Chamadas?<span style="color:red"></span></label>
                        <label>
                            <% if iterator.call %>
                          <input type="checkbox" name="company[scheduling]" checked>
                          <% else %>
                          <input type="checkbox" name="company[scheduling]">

                          <% end %>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">MackGourmet?<span style="color:red"></span></label>
                        <label>
                            <% if iterator.MackGourmet %>
                          <input type="checkbox" name="company[MackGourmet]" checked>
                          <% else %>
                          <input type="checkbox" name="company[MackGourmet]">

                          <% end %>
                        </label>
                    </div>



                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>

                </div>
              </div>
            </div>

     </div>  
<% end %>
<%= javascript_include_tag "bootstrap3-wysihtml5.all.min.js" %>

<script type="text/javascript">
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>

<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#company_phone").inputmask({"mask": "(99)9999-9999"}); //specifying options only
   $("#company_cnpj").inputmask({"mask": "99.999.999/9999"}); //specifying options only
  });
</script>

