<style type="text/css">
.input-error {
  color :red;
}
</style>
<% fields1 = ["name", "email", "cnpj", "phone"] %>
<% required_fields = ["name"] %>
<% displayFields = ["Nome","Email", "CNPJ",  "Telefone" ] %>
<% iterator = @company %>
<% title = "Dados da Empresa" %>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                                        <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %> </label>
                        <%= iterator[field] %>

                      </div> 
                    <% end %>
                    <% if !iterator.logo.url(:original).include?("missing.png") %>
                      <div class="form-group">
                          <label for=""><a href="<%= iterator.logo.url(:original) %>">  Logo </a></label>
                      </div>
                      <% end %>
                      <div class="form-group">
                          <label for="">Descrição </label> <br><br>
                        <%= iterator.description.nil? ? "" : iterator.description.html_safe %>
                      </div>   
                      <div class="form-group">
                          <label for=""><a href="/ura?company=<%= iterator.id %>">  Ura </a></label>
                      </div>

                </div>
            </div>

        </div>
    <% cols2 = ["Data", "Usuário"] %>
      
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Chamadas</h3>
                </div>
                <div class="box-body">
                      <table id="example4" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <% cols2.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.calls.each do |d| %>
                      <tr>
                          <td><%= d.created_at.strftime('%d/%m/%Y %H:%M') %></td>
                          <td><a href="/users/<%= d.user.id %>"><%= d.user.name %> </a></td>
                        </tr>
                      <% end %>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                          <h3 class="box-title"><%= "Perfis" %></h3>

                </div><!-- /.box-header -->

                <div class="box-body table-responsive">
                    <table  class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                  <th>Usuário</th>
                                  <th>Nome</th>
                                  <th>Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% iterator.profiles.each do |d| %>
                            <tr>
                                <td><%= d.user.name %></td>
                                <td><%= d.name %></td>
                                <td><%= d.document %></td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                          <h3 class="box-title"><%= "Chats" %></h3>

                </div><!-- /.box-header -->

                <div class="box-body table-responsive">
                    <table  class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                  <th>Usuário</th>
                                  <th>Status</th>
                                  <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% iterator.chats.each do |d| %>
                            <tr>
                                <td><%= d.user.name %></td>
                                <td><%= d.active ? "Aberto" : "Fechado" %></td>
                          <td> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/chats/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                </ul>
                            </div>
                          </td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header">
                          <h3 class="box-title"><%= "Agendamentos" %></h3>

                </div><!-- /.box-header -->

                <div class="box-body table-responsive">
                    <table  class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                  <th>Usuário</th>
                                  <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% iterator.schedulings.each do |d| %>
                            <tr>
                                <td><%= d.user.name %></td>
                                <td><%= d.date.strftime("%d/%m/%y %H:%M") %></td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>



    </div>  


<script type="text/javascript">
      $(function() {
          $('#example3').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });

</script>

