<style type="text/css">
.input-error {
  color :red;
}
</style>
<% fields1 = ["name"] %>
<% required_fields = ["name", "cep_inicio", "nome"] %>
<% displayFields = ["Título"] %>
<% iterator = @recipePhoto %>
<% title = "Dados da Imagem" %>


<%= form_for(iterator, :validate => true)  do |f| %>
 <% if iterator.recipe.nil? %>
    <input type="hidden"  name="recipe_photo[recipe]" value="<%= @recipe.id %>" />
 <% else %>
  <input type="hidden"  name="recipe_photo[recipe]" value="<%= iterator.recipe.id %>" />
  <% end %>
  
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "Digite o #{displayFields[i]}", :class => "form-control" %>
                      </div>
                    <% end %>
                    <div class="form-group">
                        <label for="">Foto</label>
                       <%= f.file_field :picture %>
                    </div>

                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>
            </div>
     </div>  
<% end %>
<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   // $("#area_cep_inicio").inputmask({"mask": "99999-999"}); //specifying options only
   // $("#area_cep_fim").inputmask({"mask": "99999-999"}); //specifying options only

    });
</script>

