

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name))  do |f| %>
          <div class="form-group has-feedback">
      <%= f.email_field :email, :autofocus => true, placeholder: "E-Mail",:class => "form-control" %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", id: "password",:class => "form-control" %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
                       <p><%= link_to "Esqueci minha senha", new_password_path(resource_name) %><br /></p>
 
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                </label>
              </div>                        
            </div><!-- /.col -->

            <div class="col-xs-4">
       <%= f.submit "Entrar", :class => "btn btn-primary btn-block btn-flat" %>

            </div><!-- /.col -->
          </div>
<% end %>

