<style type="text/css">
.input-error {
  color :red;
}
</style>
<%= stylesheet_link_tag    "bootstrap3-wysihtml5.min" %>


<% fields1 = ["name", "description", "email", "phone", "zip", "instagram_url"] %>
<% required_fields = ["name"] %>
<% displayFields = ["Nome", "Descrição", "E-mail", "Telefone", "CEP", "Instagram" ] %>
<% iterator = @restaurant %>
<% title = "Dados do Restaurante" %>


<%= form_for(iterator, :validate => true)  do |f| %>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "Digite o #{displayFields[i]}", :class => "form-control" %>
                      </div>
                    <% end %>

                    <% if current_user.isStudent? %>

                      <div class="form-group">
                          <label for="">Conceito<span style="color:red">*</span></label>
                            <%= f.select(:concept, options_for_select({current_user.concept.name => current_user.concept.id}))  %>
                      </div>

                    <% else %>

                    <% json = [] %>     
                    
                    <% Concept.all.each do |t| %>
                        <% json << [t.name,t.id] %>
                    <% end %>
                      
                      <div class="form-group">
                          <label for="">Conceito<span style="color:red">*</span></label>
                          <% if iterator.concept.nil? %>
                              <%= f.select(:concept, options_for_select(json))  %>
                          <% else %>
                              <%= f.select(:concept, options_for_select(json, iterator.concept.id))  %>
                          <% end %>
                      </div>

                    <% end %> 

                    <% json = [] %>

                    <% if current_user.isStudent? %>
                      <% Chef.where(:restaurant_id => nil, :concept => current_user.concept.id).each do |t| %>
                          <% json << [t.name,t.id] %>
                      <% end %>
                    <% else %>
                      <% Chef.where(:restaurant_id => nil).each do |t| %>
                        <% json << [t.name,t.id] %>
                      <% end %>
                    <% end %>

                    <div class="form-group">
                        <label for="">Chef<span style="color:red"></span></label>
                        <% if iterator.chef.nil? %>
                            <%= f.select(:chef, options_for_select(json), :include_blank => "--Selecione um Chefe--")  %>
                        <% else %>
                            <%= f.select(:chef, options_for_select(json, iterator.chef.id), :include_blank => "--Selecione um Chefe--")  %>
                        <% end %>
                    </div>

                    <div class="form-group">
                        <label for="">Rua<span style="color:red"></span></label>
                        <%= f.text_field :street, :placeholder => "Digite a rua", :class => "form-control" %>
                    </div>
                    <div class="form-group">
                        <label for="">Número<span style="color:red"></span></label>
                        <%= f.text_field :number, :placeholder => "Digite o número", :class => "form-control numeric_input" %>
                    </div>
                      <div class="form-group">
                        <label for="">Complemento</label>
                        <%= f.text_field :complement, :placeholder => "Digite o complemento", :class => "form-control" %>
                    </div>

                    <div class="form-group">
                        <label for="">Bairro<span style="color:red"></span></label>
                        <%= f.text_field :neighborhood, :placeholder => "Digite o bairro", :class => "form-control" %>
                    </div>

                    <div class="form-group">
                        <label for="">Cidade<span style="color:red"></span></label>
                        <%= f.text_field :city, :placeholder => "Digite a cidade", :class => "form-control" %>
                    </div>

                    <div class="form-group">
                        <label for="">Estado<span style="color:red"></span></label>
                        <%= f.select(:state, options_for_select(br_states,iterator.state))  %>
                    </div>

                    <div class="form-group">
                        <label for="">Foto</label>
                       <%= f.file_field :picture %>
                    </div>

                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>

                 </div>
              </div>
            </div>

     </div>  
<% end %>
<%= javascript_include_tag "bootstrap3-wysihtml5.all.min.js" %>

<script type="text/javascript">
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>

<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#restaurant_phone").inputmask({"mask": "(99)99999-9999"}); //specifying options only
   $("#restaurant_cnpj").inputmask({"mask": "99.999.999/9999"}); //specifying options only
  });
</script>

<script type="text/javascript">
jQuery(function($){
   $("#restaurant_zip").inputmask({"mask": "99999-999"}); //specifying options only
   $("#restaurant_zip").change(function(){
      var cep_code = $(this).val();
      cep_code = cep_code.replace("-", "");
      if( cep_code.length <= 0 ) return;
      $.get("http://viacep.com.br/ws/" + cep_code + "/json",
         function(result){
            if( result.cep.length <= 0 ){
               alert(result.message || "Houve um erro desconhecido");
               return;
            }
            if( result.localidade.length <= 1 ){
               alert("CEP não encontrado, por favor preencha seu endereço");
               return;
            }
            $("#restaurant_zip").val( result.cep );
            $("#restaurant_city").val( result.localidade );
            $("#restaurant_neighborhood").val( result.bairro );
            $("#restaurant_street").val( result.logradouro );
            $("#restaurant_state").val( result.uf );
         });
   });
       $(".numeric_input").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

});
</script>

