  <%= notice_helper %>

<p id="notice"><%= notice %></p>

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    	<h3 class="box-title">Dados do Restaurante </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="">Id</label>
                        <%= @restaurant.id %>
                    </div>
                    <div class="form-group">
                        <label for="">Data de Criação</label>
                        <%= @restaurant.created_at.strftime("%d/%m/%Y %H:%M") %>
                    </div>

                    <div class="form-group">
                        <label for="">Nome</label>
                        <%= @restaurant.name %>
                    </div>
 
                    <div class="form-group">
                        <label for="">Foto</label>
                        <%= link_to "Foto", @restaurant.picture.url(:original) %>
                    </div>
                    <div class="form-group">
                        <label for="">Telefone</label>
                        <%= @restaurant.phone %>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <%= @restaurant.email %>
                    </div>

 

                </div>
            </div>
        </div>

      </div>
        <div class="row">

            </div>
        </div>


            </div>
        </div>

    </div>

<%= javascript_include_tag "jquery.datatable.js" %>
<%= javascript_include_tag "dataTable.js" %>

<script type="text/javascript">
      $(function() {
          $('#example3').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example2').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example1').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example5').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example6').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });


</script>

