<style type="text/css">
.input-error {
  color :red;
}
</style>

<% fields1 = ["name"] %>
<% required_fields = ["name"] %>
<% displayFields = ["Nome"] %>
<% iterator = @concept %>
<% title = "Dados da Categoria" %>


<%= form_for(iterator, :validate => true)  do |f| %>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "Digite o #{displayFields[i]}", :class => "form-control" %>
                      </div>
                    <% end %>
                    <div class="form-group">
                        <label for="">Descrição<span style="color:red">*</span></label>
                        <%= f.text_area :description, :placeholder => "Digite a descrição", :class => "form-control", :size => "10x5" %>
                    </div>

                    <div class="form-group">
                        <label for="">Foto</label>
                       <%= f.file_field :picture %>
                    </div>


                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>
            </div>
     </div>  
<% end %>


