
<table class="table table-striped data-table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>E-mail</th>
			<th>Empresa</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<% @usuarios.each do |usuario| %>
			<% css = usuario.bloqueado ? "gradeX error" : "gradeX" %>
			<tr class="<%= css %>">
				<td><%= usuario.nome %></td>
				<td><%= usuario.email %></td>
				<td> <%= usuario.class == AdminEmpresa ? usuario.empresa.nome : "Aplicativo" %> </td>
				<td class="td-actions">
					<div class="btn-group">
    					<a class="btn medium-blue" href="#"><i class="icon-leaf"></i> Opções</a>
    					<a class="btn medium-blue dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    					<ul class="dropdown-menu">
    						
    					<li><a href="/usuarios/feed/<%= usuario.id %>"  rel="nofollow"><i class="icon-feed"></i> Feed</a></li>

      					<li><a href="/usuarios/bloquear/<%= usuario.id %>" data-confirm="<%= "Deseja bloquer esse usuário?" %>" data-method="post" rel="nofollow"><i class="icon-lock"></i> <%= usuario.bloqueado ? "Desbloquear" : "Bloquear" %></a></li>
      					<li><a href="/usuarios/reset/<%= usuario.id %>" data-confirm="<%= "Deseja resetar a senha desse usuário?" %>" data-method="post" rel="nofollow"><i class="icon-key"></i> Resetar Senha</a></li>
    					</ul>
  					</div>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>