<%= notice_helper %>

<% if @password %>
<%= form_for(@usuario, :url => { :action => "alterar_senha" } ) do |f| %>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Alterar Senha</h3>
                </div>
                <div class="box-body">
                      <div class="form-group">
   							 <%= f.label "Senha atual" %> <i>(Precisamos da sua senha atual para alterá-la)</i><br />
   							 <%= f.password_field :current_password %>
                      </div>
                      <div class="form-group">
    						<%= f.label "Nova senha" %><br />
   							 <%= f.password_field :password, :autocomplete => "off"  %>
                      </div>
                      <div class="form-group">
   							 <%= f.label "Confirme a nova senha" %><br />
    						<%= f.password_field :password_confirmation %>
                      </div>
                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>
            </div>
     </div>  
<% end %>

<% else %>
<% fields1 = ["nome", "email", "cpf", "rg"] %>
<% fields2 = ["celular", "telefone", "data_nascimento", "endereco"] %>
<% required_fields = ["nome", "cpf", "email", "endereco", "data_nascimento", "celular"] %>
<% displayFields1 = ["Nome", "E-mail", "CPF", "RG", "Data de Nascimento"] %>
<% displayFields2 = ["Celular", "Telefone", "Data de Nascimento", "Endereço"] %>
<% iterator = current_user %>
<% title = "Dados do Usuário" %>

    <div class="row">

<%= form_for(iterator, :validate => true)  do |f| %>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields1[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "#{displayFields1[i]}", :class => "form-control" %>
                      </div>
                    <% end %>
                    <div class="form-group">
                        <label for="">Sexo<span style="color:red">*</span></label>
                        <%= f.select(:sexo, options_for_select(sexos, iterator.sexo), {},{:class => "form-last-name form-control"})  %>
                    </div>


                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                    </div>
            </div>
      </div>  
     </div>  
             <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= "Contato" %></h3>
                </div>
                <div class="box-body">
                    <% fields2.each do |field| %>
                      <% i = fields2.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields2[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "#{displayFields2[i]}", :class => "form-control" %>
                      </div>
                    <% end %>
            </div>
      </div>  
     </div>  

<% end %>
</div>  
<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#usuario_telefone").inputmask({"mask": "(99)9999-9999"}); //specifying options only
   $("#usuario_celular").inputmask({"mask": "(99)99999-9999"}); //specifying options only
   $("#usuario_cpf").inputmask({"mask": "999.999.999-99"}); //specifying options only
   $("#usuario_rg").inputmask({"mask": "99.999.999-9"}); //specifying options only
   $("#usuario_data_nascimento").inputmask({"mask": "99/99/9999"}); //specifying options only
  });
</script>

<% end %>