﻿
<div class="row-fluid">
  <div class="span6">
    <div class="padded">
		<div class="input full-width">
			<%= f.label :nome %>
			<%= f.text_field :nome, :placeholder => "Nome" %>
		</div>

		<% empresas = [] %>
		<% @empresas.each do |e| %>
			<% empresas << [e.nome,e.id] %>
		<% end %>

		<div class="input full-width">
			  <%= f.label :empressa %>
		      <%= f.select(:empresa, options_for_select(empresas))  %>
		</div>



		<% if !@edit %>
			<div class="input full-width">
				 <%= f.label :data_nascimento %>
			 	 <%= f.text_field :data_nascimento, :placeholder => "Data Tipo DD/MM/YYYY" %>
			</div>
		<% end %>

		<div class="input full-width">
			  <%= f.label :sexo %>
		      <%= f.select(:sexo, options_for_select(sexos))  %>
		</div>

		<div class="input full-width">
			<%= f.label :celular %>
			<%= f.text_field :celular, :placeholder => "Celular" %>
		</div>  
		<div class="input full-width">
			<%= f.label :telefone %>
			<%= f.text_field :telefone, :placeholder => "Telefone" %>
		</div>  
		<div class="input full-width">
			<%= f.label :CPF %>
			<%= f.text_field :cpf, :placeholder => "CPF" %>
		</div>
		<div class="input full-width">
			<%= f.label :RG %>
			<%= f.text_field :rg, :placeholder => "RG" %>
		</div>
		<div class="input full-width">
			<%= f.label :endereco %>
			<%= f.text_field :endereco, :placeholder => "Endereço" %>
		</div>
		<div class="input full-width">
		    <%= f.label :complemento %>
		     <%= f.text_field :complemento, :placeholder => "Complemento" %>
		</div>
	</div>
</div>

  <div class="span6">
    <div class="padded">

<div class="input full-width">
    <%= f.label :bairro %>
     <%= f.text_field :bairro, :placeholder => "Bairro" %>
</div>
<div class="input full-width">
	<%= f.label :cidade %>
	<%= f.text_field :cidade, :placeholder => "cidade" %>
</div>

<div class="input full-width">
	<%= f.label :estado %>
      <%= f.select(:estado, options_for_select(br_states))  %>
</div>

<div class="input full-width">
	<%= f.label :cep %>
	<%= f.text_field :cep, :placeholder => "CEP" %>
</div>

<div class="input full-width">
	<%= f.label :email %>
	<%= f.text_field :email, :placeholder => "E-mail" %>
</div>

<% if !@edit %>
	 <div class="input full-width">
		<%= f.label :password %>
		<%= f.password_field :password, :placeholder => "Senha" %>
	</div>
	 <div class="input full-width">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :placeholder => "Digite de novo a Senha" %>
	</div>
<% end %>

<div class="input full-width">
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
</div>

 <div class="actions">
    <%= f.submit "Salvar", :class => "btn light-blue inverse" %>
 </div>
		</div>
	</div>
</div>
