
<!DOCTYPE html>
<html class="">
    <head>
        <meta charset="UTF-8">
        <title>MackGourmet | Log in</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <%= stylesheet_link_tag    "bootstrap.min" %>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <%= stylesheet_link_tag    "AdminLTE" %>
        <%= stylesheet_link_tag    "blue" %>

        <%= javascript_include_tag "jQuery-2.1.3.min.js" %>
        <%= javascript_include_tag "bootstrap.min.js" %>
        <%= javascript_include_tag "icheck.min.js" %>
        <%= csrf_meta_tag %>

    <!-- iCheck -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href"#"><b>Admin</b>MackGourmet</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <div  style="text-align:center;">

            </div>
            <br>
        <p class="login-box-msg">Faça seu login para entrar</p>

        <%= notice_helper_login %>

            <%= yield %>


      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
  </body>
</html>